// ======================================
//  Variables
// ======================================

// Colors
$white: #fff;

$color-primary: #58e1c1; // light green
$color-secondary: #51ddfc; // Cyan

// $color-btn-default: $color-secondary; // default
// $color-btn-2: #e4757a; // error
// $color-btn-3: #927bc1; // info
// $color-btn-4: #63cc82; // success
// $color-btn-5: #fd7856; // warning

$color-text: #777; // grey

// $color-col: #927bc1;
// $color-col-prime: lighten($color-col, 15);

// Fonts
$font-stack-primary: 'Lato', sans-serif;

// Layout
$max-width: 1400px;
$flex-ratio: 8.333%;

// Breakpoints
$break: 768px;
